In [1]:
import pandas as pd
import requests

In [3]:
endpoint = 'https://restcountries.com/v3.1/all'
response = requests.get(endpoint).json()

In [4]:
column_headers = ["name", "cca3", "capital", "region", "openstreetmaps", "population", "area", "flags"]

data = [
    {
        "name" : item['name']['common'],
        "cca3" : item['cca3'],
        "capital" : item.get('capital', [''])[0],
        "region" : item['region'],
        "openstreetmaps" : item['maps']['openStreetMaps'],
        "population" : item['population'],
        "area" : item['area'],
        "flags" : item['flags']['png']
    }
    for item in response
]

df = pd.DataFrame(data, columns=column_headers)

In [10]:
df[["name", "population"]].sort_values(by="population", ascending=False)

                                     name  population
37                                  China  1402112000
87                                  India  1380004385
141                         United States   329484123
232                             Indonesia   273523621
177                              Pakistan   220892331
..                                    ...         ...
151  United States Minor Outlying Islands         300
225                      Pitcairn Islands          56
88                          South Georgia          30
170                         Bouvet Island           0
161     Heard Island and McDonald Islands           0

[250 rows x 2 columns]

In [49]:
from sqlalchemy import create_engine

# Replace with your actual database credentials
engine = create_engine("postgresql+psycopg2://postgres:postgres@localhost:5432/world_explorer")

from sqlalchemy import inspect
inspector = inspect(engine)
schema_name = 'public'  # for example: 'public'

tables = inspector.get_table_names(schema=schema_name)
print(tables)

['countries']

In [50]:
from sqlalchemy import inspect

def check_column_match(df, engine, table_name, schema='public'):
    inspector = inspect(engine)
    db_columns = [col['name'] for col in inspector.get_columns(table_name, schema=schema)]
    
    df_columns = df.columns.tolist()
    
    missing_in_db = [col for col in df_columns if col not in db_columns]
    missing_in_df = [col for col in db_columns if col not in df_columns]
    
    if missing_in_db or missing_in_df:
        print("❗ Mismatch detected!")
        if missing_in_db:
            print(f"Columns in DataFrame but missing in DB table '{table_name}': {missing_in_db}")
        if missing_in_df:
            print(f"Columns in DB table '{table_name}' but missing in DataFrame: {missing_in_df}")
    else:
        print("✅ DataFrame and database table columns match perfectly!")

In [52]:
check_column_match(df, engine, 'countries')

❗ Mismatch detected!
Columns in DB table 'countries' but missing in DataFrame: ['id']

In [54]:
df.to_sql(tables[0], engine, if_exists='append', index=False)

250